body{
    font-family: 'Julee', cursive;
    font-size: 1.7em;
    background: silver;
    margin: 0 0;
    padding: 0 0;
}
.center{
    margin: 20% auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
table{
    margin: 0 auto;
    border: 2px ridge black;
    background: dimgrey;
    border-radius: 10px;
    border-spacing: 0 0;
}
td, tr{
    text-align: center;
    background: black;
    color: snow;
}
td.j{
    text-align: justify;
}
td.c{
    border: 2px ridge black;
    border-radius: 10px;
    padding: 3px 10px;
}
input {
    background: black;
    color: deepskyblue;
    font-family: 'El Messiri', sans-serif;
    padding: 3px;
    font-size: 0.6em;
    text-align: center;
    border-radius: 10px;
}
input[type="submit"]{
    width: 150px;
    height: 35px;
    border-radius: 30px;
}
span{
    animation: blink 1s infinite;
    color: chartreuse;
}
@keyframes blink
{
    20% { opacity: 1.0; }
    50% { opacity: 0.4; }
    100% { opacity: 1.0; }
}