body{
    font-family: 'Julee', cursive;
    font-size: 1.7em;
    background:darkcyan;
    margin: 0 0;
    padding: 0 0;
}
.center{
    margin: 20% auto;
    text-align: center;
}

table{
    margin: 0 auto;
    border: 2px ridge black;
    background: black;
    border-radius: 10px;
    border-spacing: 0 0;
}
td, tr{
    text-align: center;
    background: aquamarine;
}
td.j{
    text-align: justify;
}
td.c{
    border: 2px ridge black;
    border-radius: 10px;
    padding: 3px 10px;
}
input {
    background: black;
    color: yellow;
    font-family: 'El Messiri', sans-serif;
    padding: 3px;
    font-size: 0.6em;
    text-align: center;
    border-radius: 10px;
}
input[type="submit"]{
    width: 150px;
    height: 35px;
    border-radius: 30px;
}