body {
    margin: 0 0;
    background: dimgrey;
}

p.lable {
    margin: 0px 0px 15px 0px;
}

p.top {
    margin: 5px 0px 0px 0px;
}

.loginForm {
    padding: 15px 5px 5px 5px;
    width: 230px;
    height: 130px;
    color: white;
    background: black;
    margin: 25% auto 0 auto;
    text-align: center;
}
.black {
    background: black;
    color: yellow;
}

.uploadForm {
    padding: 15px 5px 5px 5px;
    width: 300px;
    color: black;
    background: silver;
    margin: 25% auto 0 auto;
}
.repositoryForm {
    width: 800px;
    margin: 1% auto 0 auto;
    text-align: center;
    background: silver;
}
table {
    margin: 1% auto 0 auto;
}

.back {
    margin: 1% auto 0 auto;
    text-align: center;
}

.zebra {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}

.zebra th {
    background: black;
    color: white;
    text-align: center;
}

.zebra td {
    border-bottom: 1px solid black;
}

.zebra td, .zebra th {
    padding: 4px;
}

tr:nth-child(even) {
    background-color: steelblue;
}

tr:nth-child(odd) {
    background: coral;
}
.download{
    margin: 1% auto 0 auto;
    text-align: center;
}