body{
    font-family: 'Niconne', cursive;
    font-size: 2em;
    background: lavender;
    margin: 0 0;
    padding: 0 0;
}
.center{
    margin: 20% auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: snow;
}
table{
    margin: 0 auto;
    border: 2px ridge black;
    background: black;
    border-radius: 10px;
    border-spacing: 0 0;
}
td, tr{
    text-align: center;
    background: silver;
}
td.j{
    text-align: justify;
}
td.c{
    border: 2px ridge black;
    border-radius: 10px;
    padding: 3px 10px;
}
input {
    background: black;
    color: lightgreen;
    font-family: 'Philosopher', sans-serif;
    padding: 3px;
    font-size: 0.5em;
    text-align: center;
    border-radius: 10px;
}
input[type="submit"]{
    width: 150px;
    height: 35px;
    border-radius: 30px;
}
input.redirect[type="submit"]{
    width: 200px;
}