<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find user by name</title>
    <link href="https://fonts.googleapis.com/css?family=Niconne|Philosopher" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userStyle.css}">
</head>
<body>
<div class="center">
    <table>
        <tr><td th:text="'The following user was found:'"></td></tr>
        <tr><td th:text="'User name: '+${user.getUser()}"></td></tr>
        <tr><td th:text="'User password: '+${user.getPassword()}"></td></tr>
        <tr th:each="userRole : ${user.getRoleToString()}">
            <td th:text="'User have role: '+${userRole}"></td>
        </tr>
    </table>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>