<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <link href="https://fonts.googleapis.com/css?family=Niconne|Philosopher" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userStyle.css}">
</head>
<body>
<div class="center">
    <form th:action="@{/user/update}" method="post">
        <table>
            <th colspan="2">Update new user</th>
            <tr><td class="j">Find user by name:</td><td><input type="text" name="login" autofocus required autocomplete="off"></td></tr>
            <tr><td class="j">Change user password:</td><td><input type="password" name="password" placeholder="not necessary"></td></tr>
            <tr><td class="j">Change user role:</td><td><input type="text" name="role" required></td></tr>
            <tr><td colspan="2"><input type="submit" value="Update"></td></tr>
        </table>
    </form>
</div>
</body>
</html>