<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find user</title>
    <link href="https://fonts.googleapis.com/css?family=Niconne|Philosopher" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userStyle.css}">
</head>
<body>
<div class="center">
<form th:action="@{/user/find}" method="post">
    <table>
        <th>Enter the login name for user search</th>
        <tr><td><input type="text"  name="login" autofocus required autocomplete="off"></td></tr>
        <tr><td><input type="submit" value="Find"></td></tr>
    </table>
</form>
</div>
</body>
</html>