<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete user</title>
    <link href="https://fonts.googleapis.com/css?family=Niconne|Philosopher" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userStyle.css}">
</head>
<body>
<div class="center">
<form th:action="@{/user/delete}" method="post">
    <table>
        <th colspan="2">Delete users role</th>
        <tr><td class="j">Search by name:</td><td><input type="text" name="login" autofocus required autocomplete="off"></td></tr>
        <tr><td class="j">Removable role:</td><td><input type="text" name="role"></td></tr>
        <tr><td colspan="2"><input type="submit" value="Delete"></td></tr>
    </table>
</form>
</div>
</body>
</html>