<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link href="https://fonts.googleapis.com/css?family=Niconne|Philosopher" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userStyle.css}">
</head>
<body>
<div class="center">
    <form th:action="@{/user/create}" method="post">
        <table>
            <th colspan="2">Create new user</th>
            <tr><td class="j">Enter user name:</td><td><input type="text" name="login" autofocus required autocomplete="off"></td></tr>
            <tr><td class="j">Enter user password:</td><td><input type="password" name="password"></td></tr>
            <tr><td class="j">Enter user role:</td><td><input type="text" name="role"></td></tr>
            <tr><td colspan="2"><input type="submit" value="Create"></td></tr>
        </table>
    </form>
</div>
</body>
</html>