<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link href="https://fonts.googleapis.com/css?family=Niconne|Philosopher" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userStyle.css}">
</head>
<body>
<div class="center">

    <div th:switch="${isExists}">
        <div th:case="true">
            <span th:text="'User ' + ${user.getUser()}+'  already created '"></span>
        </div>
        <div th:case="false">
            <p><span th:text="'Was created a user with next arguments:'"></span></p>
            <p><span th:text="'User name: ' + ${user.getUser()}"></span></p>
            <p><span th:text="'User password: '+${user.getPassword()}"></span></p>
            <p><span th:text="'User role: '+${user.getRoleToString()}"></span></p>
        </div>
    </div>

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>