<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Operations with user</title>
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userStyle.css}">
</head>
<body>
<div class="center">
<table>

    <tr>
        <td>
            <form th:action="@{/userFind}">
                <input type="submit" value="Find user"  class="redirect">
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form th:action="@{/userCreate}">
                <input type="submit" value="Create new user"  class="redirect">
            </form>
        </td>

    </tr>
    <tr>
        <td>
            <form th:action="@{/userUpdate}">
                <input type="submit" value="Update user arguments" class="redirect">
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form th:action="@{/userDelete}">
                <input type="submit" value="Delete user role"  class="redirect">
            </form>
        </td>
    </tr>
</table>
</div>
</body>
</html>