<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user role and password</title>
    <link href="https://fonts.googleapis.com/css?family=Niconne|Philosopher" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userStyle.css}">
</head>
<body>
<div class="center">
    <table>
        <tr>
            <td th:text="'For user name: [' +${user.getUser()}+'] was changed next parameters:'"></td>
        </tr><tr>
            <td th:text="'User password: '+${user.getPassword()}"></td>
        </tr>
        <tr th:each="newRole : ${user.getRoleToString()}">
            <td th:text="'New user role: '+${newRole}"></td>
        </tr>
    </table>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>