<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete user role</title>
    <link href="https://fonts.googleapis.com/css?family=Niconne|Philosopher" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userStyle.css}">
</head>
<body>
<div class="center">
    <table>
        <tr>
            <td th:text="'For user ['+ ${login} +'] was deleted next role:'"></td>
        </tr>
        <tr th:each="delRole : ${deleted}">
            <td th:text="'deleted role: '+${delRole}"></td>
        </tr>
    </table>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>