<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>No authorization</title>
</head>
<body>
<div class="wrapper">
    <h1>Wrong login or password</h1>
    <a th:href="@{/login}">Back to authorization </a>
</div>
</body>
</html>