<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link href="https://fonts.googleapis.com/css?family=El+Messiri|Julee" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userStyle.css}">
</head>
<body>
<div class="center">
<form action="/login" method="post">
<table>
  <th colspan="2">Enter your login and password</th>
    <tr>
        <td>Login:</td><td><input type="text" name="login"></td>
    </tr>
    <tr>
        <td>Password:</td><td><input type="password" name="password"></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="Log in"></td>
    </tr>
</table>
</form>
</div>
</body>
</html>