<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=El+Messiri|Julee" rel="stylesheet">
    <link rel="stylesheet" th:href="@{fileStyle.css}">
</head>
<body>
<div class="center">
    <form th:action="@{/files/add}" method="POST" enctype="multipart/form-data">
        <table>
            <th colspan="4">Upload file</th>
            <tr><td colspan="2" class="j">File description:</td><td colspan="2"><input type="text" name="description" size=38></td></tr>
            <tr><td colspan="2" class="j">File to upload:</td><td colspan="2"><input type="file" name="file"></td></tr>
            <tr><td colspan="4"><input type="submit" value="Upload"></td></tr>
        </table>
    </form>
</div>
</body>
</html>