<head xmlns:th="http://www.thymeleaf.org">

    <span th:text="'Download was successful'"></span>

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</head>