<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Repository files</title>
</head>
<body>
<table th:each="listFiles : ${list}">
    <tr>
        <td th:text="'File description: '+${listFiles.getDescription()}"></td>
    </tr>
    <tr>
        <td><img width="300px" th:src="@{'data:image/jpeg;base64,'+${listFiles.getImage()}}"></td>
    </tr>
</table>
</body>
</html>