<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload files to database</title>
    <link href="https://fonts.googleapis.com/css?family=El+Messiri|Julee" rel="stylesheet">
    <link rel="stylesheet" th:href="@{fileStyle.css}">
</head>
<body>
<div class="center">
    <table>
        <tr>
            <td>
                <form th:action="@{/fileAdd}">
                    <input type="submit" value="Upload file">
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form th:action="@{/fileGet}">
                    <input type="submit" value="Download file">
                </form>
            </td>
        </tr>
    </table>

</body>
</html>