<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=El+Messiri|Julee" rel="stylesheet">
    <link rel="stylesheet" th:href="@{fileStyle.css}">
</head>
<body>
<div class="center">
    <form th:action="@{/files/getAll}" method="get">
        <table>
            <th colspan="2">Download file</th>
            <!--<tr><td>File description:</td><td><input type="text" name="description" size=38></td></tr>-->
            <tr><td colspan="2" class="j">Downloading path: <span>C:\Users\User\Downloads</span></td></tr>
            <tr><td colspan="2"><input type="submit" value="Download"></td></tr>
        </table>
    </form>
</div>
</body>
</html>